$theme-colors: (
    "danger": #DB494A,
    "success": #009E73,
    "secondary": #ff9f40
);

@import 'react-redux-toastr/src/styles/index';
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Exo 2', sans-serif;
    font-size: 13px;
    background: #fafafa;
}

.modal-content {
    button {
        width: 50px;
        border-radius: 3px;
        border-width: 2px;
        border-style: solid;
        border-image: initial;
        font-weight: bold;
        margin: 0px;
        outline: 0px;
        &:hover {
            background-color: #6be2ffb0;
            border-width: 2px;
            border-style: solid;
            border-image: initial;
        };
    }
}

.web3modal-provider-wrapper {
    padding: 10px !important;
}

.web3modal-modal-card{
    display: block !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}